html,
body {
  margin: 0;
  padding: 0;
}

.workflow-top {
  position: relative;
  z-index: 2;
  padding: 10px;
  height: 45px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.workflow-main {
  position: relative;
  height: calc(100vh - 65px);
  box-sizing: border-box;

  .workflow-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 10px;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .workflow-middle {
    position: relative;
    height: 100%;
    padding: 10px;
    margin: 0 400px 0 200px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #eee;

    .mask {
      position: absolute;
      width: calc(100% + 500px);
      height: calc(100% + 500px);
      padding: 40px;
      background-color: #ccc;
      box-sizing: border-box;
    }

    #mask-canvas {
      position: absolute;
      background-color: #fff;
    }

    .workflow-container {
      position: absolute;
      box-sizing: border-box;
    }
  }

  .shape_box {
    position: absolute;
  }

  .shape_canvas {
    border: 1px solid #aaa;
  }

  .workflow-right {
    position: absolute;
    top: 0;
    padding: 10px;
    right: 0;
    width: 400px;
    height: 100%;
    z-index: 1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }

  .component-item {
    padding: 4px 8px;
    border: 1px solid #aaa;
    cursor: move;
    background-color: #eee;
    margin-bottom: 10px;
  }

  .render-component {
    position: absolute;
    text-align: center;
    user-select: none;
    // padding: 10px;

    &.active,
    &:hover {
      .shape-point {
        display: block;
      }
    }

    .component-container {
      border: 1px solid #333;
      position: absolute;
      inset: 0;
      display: flex;
      justify-content: center;
      background-color: #fff;
      align-items: center;
      cursor: move;
      font-size: 12px;
      padding: 5px;
    }
  }

  .shape-control {
    position: absolute;
    z-index: 99999;
    user-select: none;
  }

  .shape-control {
    border: 1px dashed #59c7f9;
    cursor: move;
  }

  .shape-contour {
    width: 0;
    height: 0;
  }

  .shape-point {
    position: absolute;
    background: #fff;
    border: 1px solid #59c7f9;
    width: 8px;
    height: 8px;
    z-index: 1;
    margin-left: -4px;
    margin-top: -4px;
    box-sizing: border-box;

    &.up,
    &.right,
    &.down,
    &.left {
      cursor: crosshair;
      border-radius: 50%;
      display: none;
    }

    &.left-up {
      left: 0;
      top: 0;
      cursor: se-resize;
    }

    &.right-up {
      left: 100%;
      top: 0;
      cursor: ne-resize;
    }

    &.right-down {
      left: 100%;
      top: 100%;
      cursor: se-resize;
    }

    &.left-down {
      left: 0;
      top: 100%;
      cursor: ne-resize;
    }
  }

  .text-content {
    position: absolute;
    inset: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 1px solid #59c7f9;
    cursor: text;
    font-size: 12px;
  }

  .area-contaier {
    position: absolute;
    border: 1px solid #59c7f9;
  }

  .line-extrainfo {
    position: absolute;
    padding: 0 5px;
    text-align: center;
    background-color: #fff;
    outline: none;
    font-size: 11px;
    line-height: 16px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    user-select: none;

    &.editing {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      cursor: text;
      border: 1px solid #59c7f9;
      user-select: text;
      min-width: 50px;
    }
  }

  .adsorb-line {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 9999;

    &.coord-x {
      width: 100%;
      left: 0;
      border-top: 1px dashed #59c7f9;
    }

    &.coord-y {
      height: 100%;
      top: 0;
      border-left: 1px dashed #59c7f9;
    }
  }
}